/* General settings */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

/* max-width:
*720px
*980px
*1440px */


.wrapper {
    align-items: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

}
    /* every h3 */
h3 {
    font-size: 40px;
    font-weight: 600;
    padding: 10px 10px 10px 10px;
    text-align: center;
    line-height: 100px;
}

a {
    text-decoration: none;
    color: white;
}

/* clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
/* ------------------header--------------------- */
.head {
    text-transform: uppercase;
    box-sizing: content-box;
    position: relative;
    color: wheat;
}

.head-1 {
    left: 0vw;
    top: 0px;
    height: 500px;
    width: 50vw;
    background-color: blueviolet;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    position: relative;
}

.portofolio {
    padding: 20px 20px 20px 20px;
    background-color: blueviolet;
    color: wheat;
    border: 2px wheat solid;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 20px;
    position: absolute;
    left: 100px;
    bottom: 50px;
    transition: 2s;
}

.portofolio:hover{
    padding: 30px 30px 30px 30px;
    font-size: 25px;
}

.hello {
    font-size: 60px;
    position: absolute;
    top: 100px;
    left: 100px;
}

.intro-1 {
    font-size: 45px;
    position: absolute;
    top: 190px;
    left: 100px;
}

.intro-2 {
    font-size: 45px;
    position: absolute;
    top: 250px;
    left: 100px;
}

.head-2 {
    position: absolute;
    left: 50vw;
    top: 0px;
    height: 500px;
    width: 50vw;
    background-color: blueviolet;
    align-items: center;

}
.photo {
    height: 500px;
    right: 0px;
    position: absolute;
    right: 0;
}

/* ------------------------first section--------------------------- */

.websites {
    text-align: center;
    display: inline-block;
}

.websites > div {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
}
.websites > div > img {
    width: 33%;
}
.technologies {
    font-size: 20px;
    min-height: 58px;
}

.websites > div > p {
    text-align: justify;
    padding: 30px 30px 30px 30px;
    font-size: 15px;
}

/* --------------------------projects section----------------------------- */

.projects {
    background-color: grey;
    
}

.projects > div {
    padding-bottom: 100px;
}

.project-description-1 {
    background-color: lightcoral;
    height: 24vw;
    margin-right: 10%;
    width: 40%;
    box-sizing: border-box;
    text-align: left;
    float: left;
}

.project-description-2 {
    background-color: blue;
    height: 24vw;
    margin-left: 10%;
    width: 40%;
    box-sizing: border-box;
    text-align: left;
    float: left;
}

div > h4 {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
    margin-right: 50px;
    font-size: 32px;
    border-bottom: 2px black solid;
}

div > p {
    font-size: 20px;
    padding: 20px 50px 50px 50px;
}

.project-image-1 {
    width: 40%;
    margin-left: 10%;
    height: 24vw;
    float: left;
    text-align: right;
}

.project-image-2 {
    width: 40%;
    margin-right: 10%;
    height: 24vw;
    float: left;
    text-align: left;
}

.project-image-1 > img {
    height: 100%;
    width: 100%;
}

.project-image-2 > img {
    height: 100%;
    width: 100%;
}

/* --------------------section fourth motto-------------------------- */
.motto {
    color: whitesmoke;
    width: 100%;
    height: 600px;
    background-image: url("img/motto.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.motto > p {
    padding: 100px 300px 100px 300px ;
}

.motto > p+p {
    padding: 0px 0px 0px 0px;
    padding-left: 45vw;
    
}

/* --------------------section sixth hobby---------------------------- */
.container {
    /* adjust div size to children sizes */
    overflow: hidden;
}

.container > img {
    float: left;
    width: 50%;
}

/* --------------------section seventh contact------------------------ */
.contact {
    background-color: black;
    color: cornsilk;
    /* adjust div size to children sizes */
    overflow: hidden;    
}

.contact > div {
    width: 50%;
    height: 500px;
    float: left;
    position: relative;
}

input {
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}

input:nth-child(3) {
    padding-bottom: 150px;
}
.sender {
    font-size: 20px;
    background-color: black;
    color: wheat;
    border: 2px solid wheat;
    padding: 20px 40px 20px 40px;
    position: absolute;
    right: 0;
    bottom: 50px;
    width: 21vw;
}

.sender:hover {
    transition: 1s;
    background-color: gray;
}

.name {
    position: absolute;
    right: 0;
    top: 0;
    width: 20vw;
}
.email {
    position: absolute;
    right: 0;
    top: 80px;
    width: 20vw;

}
.message {
    position: absolute;
    right: 0;
    width: 20vw;
    bottom: 150px;
}

.social-media > p {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 50px;
}

/* ---------------------------footer---------------------------------- */
footer {
    padding: 10px 10px 10px 10px;
    text-align: center;
    line-height: 20px;
    background-color: rgb(28, 28, 82);
    color: blanchedalmond;
}