* {
    margin: 0;
    padding: 0;
    font-family: 'Syne Mono', monospace;;
}

.portofolio {
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
    opacity: 100%;
    background-color: teal;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    position: relative;
    left: 5vw;
    bottom: 3vw;
    margin-top: 5px;
    margin-bottom: 5px;
}

.head {
    background-color: teal;
    width: 100vw;
}

.hello {
    left: 5vw;
    top: 5vw;
    position: relative;
    text-transform: uppercase;
    font-size: 40px;
    color: whitesmoke;
}

.intro-1 {
    left: 5vw;
    top: 10vw;
    position: relative;
    text-transform: uppercase;
    font-size: 25px;
    color: whitesmoke;
}

.intro-2 {
    left: 5vw;
    top: 11vw;
    position: relative;
    text-transform: uppercase;
    font-size: 25px;
    color: whitesmoke;
}

.photo {
    right: 50px;
    width: 40%;
}