/* General settings */
* {
    margin: 0;
    padding: 0;
    font-family: 'Syne Mono', monospace;
}

/* every h3 */
h3 {
    font-size: 32px;
    font-weight: 300;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
/* ------------------header--------------------- */
.head {
    text-transform: uppercase;
    box-sizing: content-box;
    position: relative;
    color: wheat;
}

.head-1 {
    left: 0vw;
    top: 0px;
    height: 500px;
    width: 50vw;
    background-color: blueviolet;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    position: relative;
}

.portofolio {
    padding: 20px 20px 20px 20px;
    background-color: blueviolet;
    color: wheat;
    border: 2px wheat solid;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 20px;
    position: absolute;
    left: 100px;
    bottom: 50px;
    transition: 2s;
}

.portofolio:hover{
    padding: 30px 30px 30px 30px;
    font-size: 25px;
}

.hello {
    font-size: 60px;
    position: absolute;
    top: 100px;
    left: 100px;
}

.intro-1 {
    font-size: 45px;
    position: absolute;
    top: 190px;
    left: 100px;
}

.intro-2 {
    font-size: 45px;
    position: absolute;
    top: 250px;
    left: 100px;
}

.head-2 {
    position: absolute;
    left: 50vw;
    top: 0px;
    height: 500px;
    width: 50vw;
    background-color: blueviolet;
    align-items: center;

}
.photo {
    height: 500px;
    right: 0px;
    position: absolute;
    right: 0;
}

/* ------------------------first section--------------------------- */

.websites {
    text-align: center;
    display: inline-block;
}

.websites > div {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
}
.technologies {
    min-height: 58px;
}

.websites > div > p {
    text-align: justify;
    padding: 10px 10px 10px 10px;
}

/* --------------------------third section----------------------------- */

.projects {
    background-color: grey;
}
