* {
    margin: 0;
    padding: 0;
    font-family: 'Syne Mono', monospace;
}
.head {
    text-transform: uppercase;
    box-sizing: content-box;
    position: relative;
    color: wheat;
}

.head-1 {
    left: 0vw;
    top: 0px;
    height: 500px;
    width: 50vw;
    background-color: blueviolet;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    position: relative;
}

.portofolio {
    padding: 20px 20px 20px 20px;
    background-color: blueviolet;
    color: wheat;
    border: 2px wheat solid;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 20px;
    position: absolute;
    left: 100px;
    bottom: 50px;
    transition: 2s;
}

.portofolio:hover{
    padding: 30px 30px 30px 30px;
    font-size: 25px;
}

.hello {
    font-size: 60px;
    position: absolute;
    top: 100px;
    left: 100px;
}

.intro-1 {
    font-size: 45px;
    position: absolute;
    top: 190px;
    left: 100px;
}

.intro-2 {
    font-size: 45px;
    position: absolute;
    top: 250px;
    left: 100px;
}

.head-2 {
    position: absolute;
    left: 50vw;
    top: 0px;
    height: 500px;
    width: 50vw;
    background-color: blueviolet;
    align-items: center;

}
.photo {
    height: 500px;
    right: 0px;
    position: absolute;
    right: 0;
}

.websites {
    text-align: center;
    display: inline-block;
}

.projects {
    padding: 10px 10px 10px 10px;
    font-size: 30px;
}

.websites > div {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
}
.technologies {
    min-height: 58px;
}

.websites > div > p {
    text-align: justify;
    padding: 10px 10px 10px 10px;
}

.projects-examples {
    width: 100%;
    background-color: gray;
    padding-bottom: 40px;
    position: relative;
}


.projects-title {
    text-align: center;
    font-size: 50px;
    margin: 30px 30px 30px 30px;
    width: 100%;
}

.example-1 {
    left: float;
    width: 50%;
    box-sizing: border-box;
}
.example-2 {
    left: right;
    width: 50%;
    box-sizing: border-box;
}

.example-2 > h2 {
    font-size: 40px;
    padding-top: 60px;
    border-bottom: 3px black solid;
}

.example-2 > p {
    padding-top: 20px;
    font-size: 30px;
}
